<% content_for :content_header  do %>
    <section class="content-header">
      <ul class="nav nav-pills col-md">
        <li role="presentation" class="active"><%= link_to 'Agregar Proveedor', new_provider_path, method: :get %><li>
        <li role="presentation"><%= link_to 'Ver Proveedores', providers_path, method: :get %></li>
      </ul>
      <h1>Users <small>#new</small></h1>

    </section>
<% end %>