<div id="contenedor_principal" class="row">
	<div class="col-lg-12">

		<div id="contenedor_datos" class="hpanel ">
			<div class="panel-body  card-box">
				<button title="Agregar nuevo Cliente" id="modal_nuevo" type="button" class="btn btn-success hide_on_small">Nuevo</button>
				<br><br>
				<table id="datatables" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" style="width: 100%;">
					<thead>
						<tr>
							<th>Rut</th>
							<th>Nombre</th>
							<th>Teléfono</th>
							<th>eMail</th>
							<th>Comuna</th>
							<th style="width:15%;">Acción</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

	</div>
</div>
</div>
</div>
<% content_for :js do%>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/vendor/providers.js">
</script>
<%end%>

    <div class="modal fade" id="modal_new_edit" role="dialog" aria-hidden="true">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="color-line"></div>
    			<div id="contenido-modal">
    				<div class="modal-header text-center">
    					<h4 id="title_form" class="modal-title"></h4>
    				</div>
    				<div class="modal-body">
    					<form id="form-registro" action="providers" method="post" class="form-horizontal">
    						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    						<input type="hidden" id="form_method" name="_method" value="patch">
    						<input type="hidden" id="form_tipo" name="form_tipo">
    						<input type="hidden" id="form_id_model" name="form_id_model">
								<div class="form-group">
    							<label class="col-sm-2 control-label">Rut</label>
    							<div class="col-sm-10">
										<script type="text/javascript">
										function Valida_Rut( Objeto )
										{

										var tmpstr = "";

										var intlargo = Objeto.value

										if (intlargo.length> 0)

										{

										crut = Objeto.value

										largo = crut.length;

										if ( largo <2 )

										{

											alert('rut inválido')

											Objeto.focus()

											return false;

										}

										for ( i=0; i <crut.length ; i++ )

										if ( crut.charAt(i) != ' ' && crut.charAt(i) != '.' && crut.charAt(i) != '-' )

										{

											tmpstr = tmpstr + crut.charAt(i);

										}

										rut = tmpstr;

										crut=tmpstr;

										largo = crut.length;

										if ( largo> 2 )

											rut = crut.substring(0, largo - 1);

										else

											rut = crut.charAt(0);

										dv = crut.charAt(largo-1);

										if ( rut == null || dv == null )

										return 0;

										var dvr = '0';

										suma = 0;

										mul  = 2;

										for (i= rut.length-1 ; i>= 0; i--)
										{
											suma = suma + rut.charAt(i) * mul;

											if (mul == 7)

												mul = 2;
											else

												mul++;
										}

										res = suma % 11;

										if (res==1)

											dvr = 'k';

										else if (res==0)

											dvr = '0';

										else
										{
											dvi = 11-res;

											dvr = dvi + "";
										}

										if ( dvr != dv.toLowerCase() )
										{

											alert('El Rut ingresado es Invalido')
											Objeto.focus()
											return false;
										}

										alert('El Rut ingresado es Correcto!')

											Objeto.focus()
												return true;
											}
										}
								    </script>
 										<input type="text" id="rut_provider_form" name="provider[rut_provider]" onBlur="Valida_Rut(this)" class="form-control" required="required" pattern="\d{3,8}-[\d|kK]{1}" placeholder="Ingrese RUT sin puntos" autocomplete="off" title="Debe ser un Rut válido"/>
    								<span id="error_rut_provider" class="help-block text-danger"></span>
    							</div>
								</div>
    						<div class="form-group">
    							<label class="col-sm-2 control-label">Nombre</label>
    							<div class="col-sm-10">
    								<input id="nombre_provider_form" name="provider[name_provider]" type="text" required class="form-control" autocomplete="off"
    								<span id="error_nombre_provider" class="help-block text-danger"></span>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="col-sm-2 control-label">Teléfono</label>
    							<div class="col-sm-10">
    								<input id="phone_provider_form" name="provider[phone_provider]" type="text" required pattern="^[9|8|7|2]\d{8}$" class="form-control" autocomplete="off" placeholder="Telefono de 9 digitos">
										<span id="error_telefono_provider" class="help-block text-danger"></span>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="col-sm-2 control-label">eMail</label>
    							<div class="col-sm-10">
    								<input type="email" id="email_provider_form" name="provider[email_provider]" placeholder="Ingrese su email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required class="form-control" autocomplete="off">
    								<span id="error_email_provider" class="help-block text-danger"></span>
    							</div>
    						</div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Comuna</label>
                                <div class="col-sm-10">
                                    <select name="provider[comuna_id]" id="comuna_provider_form" class="form-control m-b">
                                     <% @comunas.each do |comuna| %>
                                        <option value="<%=comuna.id%>"><%= comuna.nombre_comuna%></option>
                                     <%end%>

                                    </select>
                                    <span id="error_nombre_comuna" class="help-block text-danger"></span>
                                </div>
                            </div>
    						<div class="hr-line-dashed"></div>
    					</div>
    					<div class="modal-footer">
    						<button type="button" class="btn btn-default" data-dismiss="modal"  style="margin-right:20px;">Cancelar</button>
    						<button type="submit" class="btn btn-primary">Guardar</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
<form action="providers/:campo_id" id="form_delete" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="_method" value="delete">
</form>
