<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Users <small>#new</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/users/new.html.erb</p>
</section>