<% content_for :content_header  do %>
    <section class="content-header">
      <ul class="nav nav-pills col-md" align="left">
        <li role="presentation" class="active"><a href="#">Agregar Usuario</a></li>
        <li role="presentation"><a href="#">Editar Usuario</a></li>
      </ul>
      <h1>Users <small>#new</small></h1>

    </section>
<% end %>


<section class="content invoice">


</section>