<div id="contenedor_principal" class="row">
  <div class="col-lg-12">

    <div id="contenedor_datos" class="hpanel ">
      <div class="panel-body  card-box">
    <form method="get" class="form-horizontal">
        <div class="form-group"><label class="col-sm-2 control-label">Nombre</label>

            <div class="col-sm-5"><p class="form-control-static"></p></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Rut</label>
            <div class="col-sm-5"><p type="text" class="form-control-static">asdasd </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">eMail</label>
            <div class="col-sm-5"><input type="text" class="form-control"> </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Nuevo Password</label>

            <div class="col-sm-5"><input type="password" class="form-control" name="password" required id="password"></div>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Confirme su Password</label>

            <div class="col-sm-5"><input type="password" class="form-control" name="password" required id="confirm_password"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <!--<div class="form-group"><label class="col-lg-2 control-label">Disabled</label>

            <div class="col-lg-5"><input type="text" disabled="" placeholder="Disabled input here..." class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-lg-2 control-label">Static control</label>

            <div class="col-lg-5"><p class="form-control-static">email@example.com</p></div>
        </div>
        <div class="hr-line-dashed"></div>-->
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button class="btn btn-default" type="submit">Cancel</button>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>

<input type="text" class="form-control">