<% content_for :content_header  do %>
    <section class="content-header">
      <ul class="nav nav-pills col-md">
        <li role="presentation" class="active"><%= link_to 'Filtrar', new_purchase_path, method: :get %><li>
      </ul>
    </section>
<% end %>