<div id="contenedor_principal" class="row">
	<div class="col-lg-12">

		<div id="contenedor_producto" class="hpanel ">
			<div class="panel-body  card-box">
				<button title="Agregar nuevo Cliente" id="modal_nuevo" type="button" class="btn btn-success hide_on_small">Nuevo</button>
				<br><br>
				<table id="productos" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" style="width: 100%;">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Código</th>
							<th>Categoria</th>
							<th>Marca</th>
							<th>Cantidad</th>
							<th style="width:15%;">Acción</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="contenedor_orden" class="hpanel ">
			<div class="panel-body  card-box">
				<button title="Agregar nuevo Cliente" id="modal_nuevo" type="button" class="btn btn-success hide_on_small">Nuevo</button>
				<br><br>
				<table id="orden_compra" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" style="width: 100%;">
					<thead>
						<tr>
							<th>Nombre</th>
							<th style="width:15%;">Acción</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

	</div>
</div>
</div>
</div>
<% content_for :js do%>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/vendor/brands.js">     
</script>
<%end%>

<script>$(function () {
  $('#datatables').dataTable({
     "ajax": "/regions/json/getregions",
     "sAjaxDataProp": "region",
     "columns": [
        {"data":"odeplan_region"},
        {"data":"name_region"},           
        { "data": "id", 
        "sClass": "text-center","orderable": false,"searchable": false,
           "render": function(data,type,row,meta){
              return '<button data-id="'+row.id+'" class="btn btn-xs btn-primary2 revisar_ficha hide_on_big"><i class="fa fa-address-card-o fa-2"></i></button>                                 <button title="Ver Ficha" data-id="'+row.id+'" class="btn btn-xs btn-primary2 revisar_ficha_big"><i class="fa fa-paste"></i></button>   <button title="Editar" class="btn btn-xs btn-info modal_editar" type="button" data-id="'+row.id+'"><i class="fa fa-pencil"></i></button>  <button title="Eliminar" class="btn btn-xs btn-danger eliminar_registro" data-campo="'+row.id+'" type="button"><i class="fa fa-trash-o"></i> <span class="bold"></span></button>'
           }
        } 
     ],
  });
}); 
</script>     