<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Home <small>#index</small></h1>
  </section>
<% end %>
<% if user_signed_in? %>
      <section class="content invoice">
      <p>Hola mundo</p>
      </section>

<%else%>
       <%= link_to "Ingrese con su cuenta", new_user_session_path %>

<%end%>

