<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Price <small>#new</small></h1>
  </section>
<% end %>
<section class="content invoice">
<%= render 'form' %>
</section>
