<%= render 'form' %>

<section class="content invoice">
  <h1>Regiones</h1>

  <table id="regions" class="display">
    <thead>
    <tr>
      <th>Nombre Region</th>
      <th>Editar</th>
    </tr>
    </thead>
    <tbody>
    <% @region.each do |r| %>
        <tr>
          <td><%= r.region_name %></td>
          <td><%= link_to 'Editar', edit_region_path(r) %></td>
        </tr>
    <%end%>
    </tbody>
  </table>
</section>