<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Regions <small>#index</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <h1>Ciudades</h1>

  <table id="cities" class="display">
    <thead>
    <tr>
      <th>Nombre Region</th>
      <th>Editar</th>
    </tr>
    </thead>
    <tbody>
    <% @region.each do |r| %>
        <tr>
          <td><%= r.region_name %></td>
          <td><%= link_to 'Editar', edit_region_path(r) %></td>
        </tr>
    <%end%>
    </tbody>
  </table>
</section>