<aside id="menu">
   <div id="navigation">
      <div class="profile-picture">
         <a href="index.html"><img src="/images/profile.png" class="img-circle m-b" alt="logo"></a>
         <div class="stats-label text-color"><span class="font-extra-bold font-uppercase">Nata</span></div>
      </div>
      <ul class="nav navbar-nav">
      <li class="active"><a href="#"></a></li>
      <% if !session[:current_user].blank? %>
         <% if session[:current_user] == 0 %> 
          <li class="dropdown">    
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrador
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li class=""><a href="/categories"><span class="nav-label">Categoria</span></a></li>
               <li class=""><a href="/regions"><span class="nav-label">Región</span></a></li>
               <li class=""><a href="/brands"><span class="nav-label">Marca</span></a></li>
               <li class=""><a href="/providers"><span class="nav-label">Proveedor</span></a></li>
               <li class=""><a href="/comunas"><span class="nav-label">Comunas</span></a></li>
            </ul>   
          </li>
          <% end%> 
          <li class=""><a href="/products"><span class="nav-label">Producto</span></a></li>
          <li class=""><a href="/purchases"><span class="nav-label">Ordenes</span></a></li>
       <%end%>   
     <!-- <ul class="nav navbar-nav" id="side-menu">
        <li class="dropdown">
           <ul class="dropdown-menu" id="subside-menu">
               <li class=""><a href="/categories"><span class="nav-label">Categoria</span></a></li>
               <li class=""><a href="/regions"><span class="nav-label">Región</span></a></li>
               <li class=""><a href="/brands"><span class="nav-label">Marca</span></a></li>
               <li class=""><a href="/providers"><span class="nav-label">Proveedor</span></a></li>
               <li class=""><a href="/products"><span class="nav-label">Producto</span></a></li>
               <li class=""><a href="/comunas"><span class="nav-label">Comunas</span></a></li>
            </ul>
         </li>
         <li>asd</li>

         <li class="{{ Request::is('tribunal','colegio','junta') ? 'active' : '' }}">
            <a href="#"><span class="nav-label">Instituciones</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
               <li class="{{ Request::is('tribunal') ? 'active' : '' }}"><a href="{{url('tribunal')}}">Tribunales</a></li>
               <li class="{{ Request::is('colegio') ? 'active' : '' }}"><a href="{{url('colegio')}}">Colegios</a></li>
               <li class="{{ Request::is('junta') ? 'active' : '' }}"><a href="{{url('junta')}}">Juntas de Vecinos</a></li>
            </ul>
         </li>
         -->
      </ul>
   </div>
</aside>