<aside id="menu">
   <div id="navigation">
   <% if !session[:current_user].blank? %>
      <div class="profile-picture">
         <div class="stats-label text-color"><a href="/"><span class="font-extra-bold font-uppercase">Bienvenido <%=session[:current_user_name]%></span></a></div>
      </div>
      <ul class="nav">
      <li class="active"><a href="#"></a></li>
      
          <li class="nav-label"><a href="/users/<%= session[:current_user_id]%>"><span class="nav-label">Perfil</span></a></li>
          <li class="nav-label"><a href="/products"><span class="nav-label">Producto</span></a></li>
          <li class="nav-label"><a href="/purchases"><span class="nav-label">Ordenes</span></a></li>
         <% if session[:current_user] == 0 %> 
          <li class="">    
            <a class="accordion-heading" data-toggle="collapse" data-target="#submenu" href="#"><span class="nav-header-primary">Admin</span></a>
            <ul class="nav nav-second-level collapse" id="submenu">
               <li class=""><a href="/categories"><span class="nav-label">Categorias</span></a></li>
               <li class=""><a href="/regions"><span class="nav-label">Región</span></a></li>
               <li class=""><a href="/brands"><span class="nav-label">Marca</span></a></li>
               <li class=""><a href="/providers"><span class="nav-label">Proveedor</span></a></li>
               <li class=""><a href="/comunas"><span class="nav-label">Comunas</span></a></li>
               <li class=""><a href="/users"><span class="nav-label">Usuarios</span></a></li>
            </ul>   
          </li>
          <% end%> 
          
       <%end%>   
      </ul>
   </div>
</aside>